<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    mode="over"
  >
    <button mat-button (click)="sidenav.close()" [routerLink]="['active-orders']">Active orders list</button>
    <button mat-button (click)="sidenav.close()" [routerLink]="['create-order']">Create order</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color='primary'>
      <button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      <span>Toolbar</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
